<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      lang="es">
    <!-- Theme help: https://getmdl.io/components/index.html -->
    <h:head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="description" content="Sakila DVD store." />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>Sakila DVD store :: #{windowTitle}</title>

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=es" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
        <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.teal-amber.min.css" />
    </h:head>

    <h:body >
        <div class="mdl-layout mdl-js-layout">
            <header class="mdl-layout__header">
                <div class="mdl-layout-icon"></div>
                <div class="mdl-layout__header-row">
                    <span class="mdl-layout__title">#{pageTitle}</span>
                    <div class="mdl-layout-spacer"></div>

                    <button id="menu1" class="mdl-button mdl-js-button mdl-button--icon">
                        <i class="material-icons">more_vert</i>
                    </button>
                    <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu" for="menu1">
                        <li class="mdl-menu__item">Continue</li>
                        <li class="mdl-menu__item">Stop</li>
                        <li class="mdl-menu__item">Pause</li>
                    </ul>
                </div>
            </header>

            <div class="mdl-layout__drawer">
                <span class="mdl-layout__title">Sakila Web</span>
                <nav class="mdl-navigation">
                    <a class="mdl-navigation__link" href="#"><i class="material-icons" role="presentation">home</i> Home</a>
                    <a class="mdl-navigation__link" href="#">Nav link 2</a>
                    <a class="mdl-navigation__link" href="#">Nav link 3</a>
                </nav>
            </div>

            <main class="mdl-layout__content">
                <ui:insert name="content">Content</ui:insert>
            </main>

            <footer class="mdl-mini-footer">
                <div class="mdl-mini-footer__right-section">
                    <div class="mdl-logo">
                        Sakila Web
                    </div>
                    <ul class="mdl-mini-footer__link-list">
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Privacy and Terms</a></li>
                        <li><a href="#">User Agreement</a></li>
                    </ul>
                </div>
            </footer>
        </div>

        <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    </h:body>
</html>
